<ul class="buttons">
    <li>
        <a class="link_bcPopupSearch" href="#"><span class="icon-search"></span><span class="text">人才搜索</span></a>

        <div class="popup" id="bcPopupSearch" style="display: none;">
            <div class="head clearfix">
                <div class="arrow"></div>
                <span class="isw-zoom"></span>
                <span class="name">搜索</span>
            </div>
            <div class="body search">
                <div class="row-fluid clearfix">
                    <div class="span3">姓名:</div>
                    <div class="span9">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="row-fluid clearfix">
                    <div class="span3">身份证号:</div>
                    <div class="span9">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="row-fluid clearfix">
                    <div class="span3">员工号:</div>
                    <div class="span9">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="row-fluid clearfix">
                    <div class="span3">档案编号:</div>
                    <div class="span9">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="row-fluid clearfix">
                    <div class="span3">门店代码:</div>
                    <div class="span9">
                        <input type="text" name="fname">
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="button" class="btn">搜索</button>
                <button type="button" class="btn btn-danger link_bcPopupSearch">关闭</button>
            </div>
        </div>
    </li>
</ul>
